@import url('https://fonts.googleapis.com/css2?family=Alkatra:wght@500&family=Caprasimo&family=Caveat:wght@600&family=Dancing+Script:wght@600&family=Fraunces:opsz,wght@9..144,600;9..144,900&family=Josefin+Sans:ital,wght@0,400;1,200&family=Kanit:ital,wght@0,200;1,200&family=Lobster&family=Montserrat:wght@900&family=Noto+Sans+JP&family=Oswald&family=Outfit:wght@500&family=Pacifico&family=Playfair+Display:wght@600&family=Raleway:ital@1&family=Roboto+Flex:opsz,wght@8..144,100&family=Roboto+Mono:ital,wght@1,300&family=Roboto:wght@700&family=Shadows+Into+Light&family=Source+Code+Pro:ital@1&family=Work+Sans:ital,wght@1,300&display=swap');
*{
    box-sizing: border-box;
}
body{
    margin: 0;
    font-family: 'Fraunces', sans-serif;
    background: #faedcd;
}
main{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 180px auto;
}
img{
    max-width: 100%;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}
.fs-txt{
    background-color: #fff;
    width: 370px;
    min-height: 512px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    margin: 0 0 0 0;
}
.fs__txt{
    width: 87%;
    margin: 0 auto;
}
.fs__txt p:nth-child(1){
    text-transform: uppercase;
    letter-spacing: 0.6em;
}
.fs__txt h1,h2{
    font-weight: 900;
}
.fs__txt h2{
    color: #588157;
    font-size: 1.8rem;
}
.fs__txt p{
    line-height: 2em;
}
.fs__txt .price{
    font-size: .9rem;
    text-decoration: line-through;
    margin: 0 0 0 1.6em;
    font-weight: 100;
    color: #000;
}
.fs__txt a{
    display: block;
    text-decoration: none;
    background-color: #588157;
    color: #fff;
    text-align: center;
    padding: 1em 0;
    border-radius: 10px;
    /* margin-top: 1em; */
}
@media (max-width:800px) {
    *,*::before,*::after{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    img{
       max-width: 100%;
       border-top-left-radius: 17px;
       border-top-right-radius: 17px;
       border-bottom-left-radius: 0;
    }
    main{
        display: block;
        width: 80%;
    }
    .fs-txt{
        width: 100%;
        max-width: 450px;
        border-top-right-radius: 0;
        border-bottom-right-radius: 17px;
        border-bottom-left-radius: 17px;
        min-height: 490px;
    }
    .fs__txt p:nth-child(1){
        padding: 17px 0;
    }
    .fs__txt p:last-of-type{
        padding: 0 0 18px 0;
    }
    .fs__txt h1{
        padding: 0 0 18px 0;
    }
    .fs__txt h2{
        padding: 8px 0 22px 0;
    }
    .fs__txt a{
        font-size: 1.2rem;
    }
}